@font-face {
  font-family: "cyberpunkregular";
  src: url("cyberpunk-regular-webfont.woff2") format("woff2"),
    url("cyberpunk-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
